PORT=3001
FRONTEND_URL=http://localhost:5173,http://127.0.0.1:5173,https://yourdomain.com
IG_COOKIES_PATH=./cookies/ig_cookies.txt
YT_COOKIES_PATH=./cookies/yt_cookies.txt
X_COOKIES_PATH=./cookies/x_cookies.txt
NODE_ENV=production
